.content {
  flex: 1 0 auto;
  background: url("../../illustration/background-zhkh.jpeg");
}

.title {
  border-radius: 20px 20px 0 0;
  color: white;
  background: #90C084;
  padding: 12px 12px;
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}

.counters {
  padding: 14px;
}

.counters p {
  color: #839d74;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 14px;
  text-align: center;
}

.err {
  color: red;
  text-align: center;
}

.hide {
  display: none;
}

.hidden {
  display: none;
}

.counters form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counters label {
  color: black;
  width: 300px;
}

.counters input {
  margin-bottom: 10px;
}

.counters button {
  color: white;
  background: #90C084;
  padding: 8px 24px;
  border-radius: 12px;
  margin-top: 8px;
  float: right;
  margin-bottom: 1rem;
}

.counters button:hover {
  background: #67a557;
}

.personalTabs button {
  display: flex;
  justify-content: space-between;
}

.personalTabs button {
  color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 18px;
}

.personalTabs button[aria-selected=true] {
  color: white;
  background: #90C084;
  padding: 12px 12px;
  transition: none !important;
}

.personalTabs button[aria-selected=false] {
  transition: none !important;
}

.personalTabs button:first-child[aria-selected=true] {
  border-radius: 20px 0 0 0;
}

.personalTabs button:last-child[aria-selected=true] {
  border-radius: 0 20px 0 0;
}

.personalTabsContent {
  color: black;
}

.personalTabsContent1 {
  display: grid;
  place-items: center;
}

.personalTabsContent1 p {
  color: #839d74;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 14px;
}

.personalTabsContent2 p {
  color: #839d74;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 14px;
}