.wrapperForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

.wrapperForm h2 {
    margin-bottom: 16px;
    font-size: 24px;
}

.loginForm {
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 30%;
}

.loginForm input::placeholder {
    color: white;
}