@font-face {
    font-family: "Montserrat";
    src: url("./Montserrat-Thin.woff2");
    font-weight: 100;
    font-style: normal;
  }

@font-face {
    font-family: "Montserrat";
    src: url("./Montserrat-Light.woff2");
    font-weight: 400;
    font-style: normal;
  }
  
@font-face {
    font-family: "Montserrat";
    src: url("./Montserrat-Regular.woff2");
    font-weight: 500;
    font-style: normal;
  }
  
@font-face {
    font-family: "Montserrat";
    src: url("./Montserrat-Medium.woff2");
    font-weight: 600;
    font-style: normal;
  }
  
@font-face {
    font-family: "Montserrat";
    src: url("./Montserrat-Bold.woff2");
    font-weight: 700;
    font-style: normal;
  }
  
@font-face {
    font-family: "Montserrat";
    src: url("./Montserrat-SemiBold.woff2");
    font-weight: 800;
    font-style: normal;
  }