.header {
    height: 100px;
}

.headerWrapper {
    width: 1280px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerName {
    font-size: 28px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

.headerName:hover {
    text-shadow: 1px 1px 13px green;
}

.headerNav {
    display: flex;
    align-items: center;
}

.headerNav button {
    color: #B0D997;
    padding: 10px 22px 10px 22px;
    border-radius: 20px;
    background: white;
    font-size: 20px;
    border: none;
    margin-left: 12px;
    font-weight: 500;
    cursor: pointer;
}

.headerNav button:hover {
    color: #90C084;
}

.arrow1 {
    display: block;
    width: 20px;
    height: 20px;
    border-top: 5px solid white;
    transform: rotate(-30deg);
    position: absolute;
    margin-top: -1px;
    margin-left: -3px;
}

.arrow2 {
    display: block;
    width: 20px;
    height: 20px;
    border-right: 5px solid white;
    transform: rotate(-60deg);
    position: absolute;
    margin-top: -1px;
    margin-left: 4px;
}

@media (max-width: 1280px) {
    .headerWrapper {
        width: 100%;
        padding: 5px;
    }

    .headerName {
        font-size: 20px;
        font-weight: 500;
    }

    .arrow1,
    .arrow2 {
        display: none;
    }

    .headerNav button {
        padding: 5px 12px 5px 12px;
    }

}

@media (max-width: 768px) {
    .headerWrapper {
        flex-direction: column;
    }

    .headerNav button {
        font-size: 16px;
    }
}

@media (max-width: 540px) {
    .headerNav {
        flex-direction: column;
        gap: 5px;
    }
}

@media (max-width: 476px) {
    .headerNav button {
        font-size: 14px;
    }
}