.homeFirstBlock {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 70px;
    position: relative;
}

.homeFirstBlock img {
    z-index: 10;
}

.title {
    font-size: 28px;
    font-weight: 600;
    line-height: normal;
}

.titleBlock p {
    font-size: 20px;
    font-weight: 400;
}

.homeSecondBlock {
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
}

.homeSecondBlockLeft,
.homeSecondBlockRight,
.leftButtonUp,
.leftButtonDown,
.rightButtonUp,
.rightButtonDown {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.homeSecondBlockLeft,
.homeSecondBlockRight {
    display: flex;
    height: 240px;
    justify-content: space-between;
}

.homeSecondBlock button {
    width: 500px;
    height: 50px;
    box-shadow: 1px 1px 10px #888888;
}

.leftButtonUp button {
    color: #4bb23d;
}

.leftButtonDown button {
    color: rgb(233, 198, 43);
}

.rightButtonUp button {
    color: #48a2c3;
}

.rightButtonDown button {
    color: #c44d43;
}

.modalForm {
    color: black;
}

.modalForm input:first-child {
    margin-bottom: 16px;
}

.modalForm textarea {
    height: 180px;
    margin-top: 16px;
}

.round1 {
    position: absolute;
    background: #A5CD9B;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    margin-right: 590px;
    opacity: 0.4;
}

.round2 {
    position: absolute;
    background: #AFD0A5;
    width: 390px;
    height: 390px;
    border-radius: 50%;
    margin-right: 590px;
    opacity: 0.4;
}

.round3 {
    position: absolute;
    background: #B4D4AA;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    margin-right: 590px;
    opacity: 0.4;
}

.parent {
    width: 100%;
    padding: 12px;
    background: #ffffff;
    border-radius: 25px;
    box-shadow: 7px 20px 20px rgb(210, 227, 244);
}

.fileUpload {
    text-align: center;
    border: 3px dashed #90C084;
    padding: 10px;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fileUpload h3 {
    margin-top: 6px;
}

.fileUpload p {
    font-size: 0.80rem;
    margin: 0;
    color: #bbcada;
}

.fileUpload img {
    width: 75px;
}

.fileUpload input {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    cursor: pointer;
}

@media (max-width: 1280px) {

    .round1,
    .round2,
    .round3 {
        display: none;
    }

    .homeFirstBlock {
        flex-direction: column;
        gap: 20px;
        margin-top: 0;
    }

    .title {
        text-align: center;
    }

    .titleBlock p {
        text-align: center;
    }

    .homeSecondBlock {
        margin-top: 30px;
        justify-content: normal;
        flex-direction: column;
        align-items: center;
    }

    .homeSecondBlockLeft,
    .homeSecondBlockRight {
        justify-content: normal;
    }

}

@media (max-width: 476px) {
    .homeFirstBlock {
        margin-top: 26px;
    }

    .homeSecondBlock button {
        width: 313px;
    }
}

@media (max-width: 400px) {}