.homeFirstBlock {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 70px;
}

.title {
    font-size: 28px;
    font-weight: 600;
    line-height: normal;
}

.titleBlock p {
    font-size: 20px;
    font-weight: 400;
}

.homeSecondBlock {
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
}

.homeSecondBlockLeft, .homeSecondBlockRight, .leftButtonUp, .leftButtonDown, .rightButtonUp, .rightButtonDown {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.homeSecondBlockLeft, .homeSecondBlockRight {
    display: flex;
    height: 240px;
    justify-content: space-between;
}

.homeSecondBlock button {
    width: 500px;
    height: 50px;
    box-shadow: 1px 1px 10px #888888;
}

.leftButtonUp button {
    color:#4bb23d;
}

.leftButtonDown button {
    color: rgb(233, 198, 43);
}

.rightButtonUp button {
    color: #48a2c3;
}

.rightButtonDown button {
    color: #c44d43;
}

.modalForm {
    color: black;
}

.modalForm input:first-child {
    margin-bottom: 16px;
}
.modalForm textarea {
    height: 180px;
    margin-top: 16px;
}