.content {
  flex: 1 0 auto;
  background: url("../../illustration/background-zhkh.jpeg");
}

.title {
  border-radius: 20px 20px 0 0;
  color: white;
  background: #90C084;
  padding: 12px 12px;
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}

.tariffs {
  padding: 14px;
}

.tariffs p {
  color: #839d74;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 14px;
}

table {
  color: black;
}