.content {
  flex: 1 0 auto;
  background: url("../../illustration/background-zhkh.jpeg");
}

.title {
  border-radius: 20px 20px 0 0;
  color: white;
  background: #90C084;
  padding: 12px 12px;
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}

.documents {
  padding: 14px;
}

.documents ul {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.documents ul li {
  width: 110px;
  height: 118px;
  text-align: left;
  overflow: hidden;
}

.documents a {
  color: black;
  line-height: 1;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.documents a svg {
  width: 70px;
  height: 70px;
  fill: #d14b4b;
  padding-bottom: 8px;
}

.documents p {
  color: #839d74;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 14px;
}