.header {
    height: 100px;
}

.headerWrapper {
    width: 1280px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.headerName {
    font-size: 28px;
    font-weight: 600;
}

