.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}

.header-block {
    display: flex; 
    justify-content: space-between; 
    align-items: center
}
