html {
  height: 100%;
}

body {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 auto;
  background: #90C084 !important;
  color: #FFF !important;
}

/* 5 backgrounds for background main page */

/* .back {
  color: #BFDDB9;
  color: #B8D7AE;
  color: #B1D6AA;
  color: #AFD0A5;
  color: #A5CD99;
} */

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1 0 auto;
}

a {
  text-decoration: none;
  font-family: "Montserrat";
}

button {
  font-family: "Montserrat";
}

.font-monserat {
  font-family: "Montserrat";
}

.wrapper {
  width: 1280px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  flex: 1 1 auto;
}

.service-table tr th {
  border: 1px solid black;
  background: #e3eaf0;;
  color: black;
}

.service-table tr td {
  border: 1px solid black;
  background: #e3eaf0;
  color: black;
}

.personalPage {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}

.personalNav {
  width: 28%;
  height: 100%;
  background: white;
  border-radius: 20px;
  box-shadow: 1px 1px 6px 0px #00000063;
}

.personalContent {
  width: 65%;
  height: 800px;
  background: white;
  border-radius: 20px;
  box-shadow: 1px 1px 6px 0px #00000063;
}