.content {
  flex: 1 0 auto;
  background: url("../../illustration/background-zhkh.jpeg");
}

.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 20px;
}

.inputContainer {
  display: flex;
  padding-top: 10px;
}

.inputContainer textarea {
  resize: none
}

.msgContainerWrapper {
  height: 60vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.message {
  text-align: left;
  display: block;
  padding: 5px 10px;
  background-color: rgb(218, 218, 218);
  margin: 10px 0;
  border-radius: 20px;
  max-width: 60%;
  overflow-wrap: break-word;
  height: fit-content;
}

.messageContainer {
  overflow: auto;
  width: 100%;
  /* display: flex;
  flex-direction: column;
  justify-content: end; */
}

.otherMsg {
  text-align: right !important;
  margin-right: auto !important;
  background-color: rgb(176, 228, 240);
  width: fit-content;
}

.myMsg {
  text-align: left !important;
  margin-left: auto !important;
  background-color: rgb(176, 240, 184);
  width: fit-content;
}

input {
  padding: 10px;
  flex: 3;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 1px rgb(48, 109, 200) solid;
}

.sendBtn {
  color: white;
  background: #90C084;
  padding: 8px 24px;
  border-radius: 12px;
  margin: 12px;
  float: right;
  font-weight: bold;
}

.title {
  border-radius: 20px 20px 0 0;
  color: white;
  background: #90C084;
  padding: 12px 12px;
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}

.messageAdminBlock {
  display: flex;
  gap: 6px;
  overflow: auto;
  height: 100%;
}

.messageUsers {
  min-width: 150px;
}

.messageUsers ul {
  height: 100%;
  border-right: 1px solid #e0e0e0;
  padding-right: 2px;
}

.messageUsers ul li {
  padding: 5px 5px;
  cursor: pointer;
  width: fit-content;
  font-weight: 600;
  border: 1px solid #e0e0e0;
  /* background: beige; */
  margin-bottom: 6px;
  border-radius: 12px;
}

.liActive {
  background: green;
}